html body {
padding:0;
margin:0;
}
.mainLayout{
	text-align: center;
	font: 18px Tahoma,Arial;
}
.header{
	padding: 20px 0 15px 0;
	background-color:#999;
}
.header a{
	padding: 0 0 0 10px;
	color:#0066FF;
	text-decoration:none;
}
.header a:hover{
	color:#B20000;
	text-decoration:underline;
}
.content{
	height: 570px;
	padding: 50px 0 0 0;
	font-size:18px;
	background-color:#666;
}
.footer{
	height: 100px;
	padding: 15px 0 0 0;
	color:#FFF;
	background-color:#333;
}
